[2014-11-29 20:57] sckott opened #1 "A python client to potentially follow"
https://github.com/gabrielfalcao/httpretty

[2016-04-21 20:09] #1 closed

[2016-11-08 23:47] sckott opened #2 "minimal test suite"

[2017-04-24 01:00] sckott opened #3 "use markdown docs"

[2017-04-24 17:06] #3 closed

[2017-04-24 17:12] sckott opened #4 "vignettes"
- [ ] outside of test framework
- [ ] inside of test framework

[2017-05-13 21:04] sckott opened #5 "using ::: call to crul:::headers_parse"
fix before cran push

[2017-05-17 00:33] #5 closed

[2017-05-17 15:58] sckott opened #6 "add print method to RequestSignature"

[2017-05-17 16:11] sckott opened #7 "Add man files for more internal methods"

[2017-05-18 06:23] #7 closed

[2017-05-18 06:23] #6 closed

[2017-05-18 06:24] #2 closed

[2017-05-18 06:26] sckott opened #8 "flesh out pkg level man file"

[2017-05-18 15:29] #8 closed

[2017-05-18 23:40] sckott opened #9 "to_raise: method to set expectation for a specific exception"
e.g., in ruby

[code]

[code]

[code]

[2017-05-18 23:45] sckott opened #10 "times: specify number of times a given response should be returned"
[code]

[2017-05-18 23:47] sckott opened #11 "to_timeout: set timeout as expected result"
[code]

[2017-05-18 23:51] sckott commented on #9
possibilities:

- by http code?, e.g., `500`
- character string, e.g., "my foobar error"
- `fauxpas` error class, e.g., `fauxpas::HTTPCertError`

[2017-05-18 23:56] sckott opened #12 "add fxn remove_request_stub to remove by specific stub"

[2017-05-19 00:20] sckott opened #13 "url matching: regex needs to work"

[2017-05-19 03:18] #12 closed

[2017-05-19 17:59] sckott opened #14 "header matching: normalize case and dashes/underscores"

[2017-05-19 18:02] sckott opened #15 "method matching: normalize case"

[2017-05-19 20:37] sckott opened #16 "remove crul:::crul_fetch(req) from CrulAdapter"

[2017-05-19 21:17] #13 closed

[2017-05-19 21:17] #14 closed

[2017-05-19 21:17] #15 closed

[2017-05-19 23:35] #16 closed

[2017-05-19 23:35] sckott opened #17 "to_return: change to match behavior of webmock"

[2017-05-20 02:34] #17 closed

[2017-05-21 23:30] sckott opened #18 "Make sure headers detected and included in stub statement accurately"
Right now

[code]

Suggested stub should have the exact headers passed in the request

[2017-05-22 00:07] sckott opened #19 "Make sure all webmockr_configure() options actually do what they purport to do"

[2018-02-16 00:54] #18 closed

[2018-02-17 01:21] #9 closed

[2018-02-17 01:21] #11 closed

[2018-02-17 05:33] sckott opened #20 "Support RFC6570 uri templates"
e.g., in ruby

[code]

[2018-02-17 17:35] sckott opened #21 "allow config option should allow given URIs"
e.g. https://github.com/bblimke/webmock/issues/584#issuecomment-185634435

right now doesn't do anything i think

related to #19

[2018-02-17 18:00] sckott opened #22 "Add config options to toggle whether different things are shown in stub response"
e.g., `webmock` has

* `show_stubbing_instructions?`
* `show_stubbing_instructions!`
* `hide_stubbing_instructions!`

and

* `show_body_diff!`
* `show_body_diff?`
* `hide_body_diff!`

[2018-02-19 07:06] sckott commented on #21
should be fixed, double check monday

[2018-02-19 18:33] sckott opened #23 "make an exported fxn for looking at request registry"
right now we have unexported env `webmockr:::webmockr_request_registry` which we can wrap in an exported fxn

[2018-02-19 19:17] sckott opened #24 "Add egs for the `stub_registry` fxn"

[2018-02-19 19:20] #23 closed

[2018-02-19 19:20] #24 closed

[2018-02-19 22:38] sckott opened #25 "allow_localhost doesn't actually work"

[2018-02-19 22:53] #25 closed

[2018-03-01 06:51] sckott opened #26 "scenario based mocking?"
just saw on the web https://github.com/americanexpress/parrot not sure if anyting useful to do here or not ...

[2018-03-01 23:44] #21 closed

[2018-03-01 23:45] sckott commented on #19
some not working yet, but are correctly marked as such now - will open new issue for the remaining that don't work yet

[2018-03-01 23:45] #19 closed

[2018-03-01 23:46] sckott opened #27 "Finish implementing config options"
- [ ]  `net_http_connect_on_start`
- [ ]  `show_stubbing_instructions`
- [ ]  `query_values_notation`
- [ ]  `show_body_diff`

or decide not to support and remove

[2018-03-11 15:57] sckott opened #29 "make sure crul adapter handles all matchers."
see https://github.com/ropensci/webmockr/blob/master/R/adapter-crul.R#L156-L158

[2018-04-06 23:03] sckott opened #30 "Remove any pipe usage in the package"
exporting pipe is still good idea for users, but remove from within pkg

[2018-04-12 10:36] maelle commented on #30
oh should it be a general rule/recommendation over all packages and if so why? Would you want to write a blurb about this 🔥 controversial topic 🔥 for the ropenscilabs/dev_guide?

[2018-04-12 10:37] maelle commented on #4
If you validate [these tests](https://github.com/lockedata/HIBPwned/blob/dev/tests/testthat/test-http-errors-handling.R) (or tell me what's wrong 🙏 ) I can volunteer for the "inside of test framework" vignette. 👼

[2018-04-12 10:41] maelle opened #31 "Retries"
Related to https://github.com/ropensci/webmockr/issues/4#issuecomment-380758836

How would one test for the case when the API returns 429 say 3 times and then 200? How could I stub that in a test?

[2018-04-12 18:37] sckott opened #32 "then: specify order of returned things"
e.g., in ruby webmock

[code]

[2018-04-12 18:38] sckott commented on #31
Thanks for raising the issue!

We don't support it yet. There's two things we need i think.

- support for `times` see #10 - so ones can say how many times they want a given response given back
- support for `then`, to support see #32

[2018-04-12 18:41] maelle commented on #31
cool, am excited for it to be supported in the future! should I close this issue or let it open to remember to write an example or something?

[2018-04-12 18:44] sckott commented on #30
ha, no, i do not want to publicly take a stand on this. I just personally want to avoid them

[2018-04-12 18:45] sckott commented on #4
thanks for offering!  I guess we need to sort out #31 first though?

[2018-04-12 18:47] sckott commented on #31
can leave it open i think for now, will label it a use case, then we can include as an example

[2018-04-12 19:04] maelle commented on #4
yes it'd be better

[2018-04-28 00:19] sckott opened #34 "send vcr error when vcr loaded and turned on, and no stub found, and net connections not allowed"
this is maybe an edge case, but can happen if user has `vcr` loaded, but is not doing http requests through `insert_cassette()` or `use_cassette()` or `turned_off()`

[2018-05-03 19:05] #30 closed

[2018-05-03 19:05] sckott commented on #29
fixed a while back

[2018-05-03 19:05] #29 closed

[2018-05-03 21:19] sckott opened #35 "Make request and stub registry print methods more consistent"
right now we have, e.,g,:

[code]

---

things to do:

- [x] make case consistent for HTTP methods, e.g., post vs. POST
- make quotes consistent. right now for request registry we already have the request as a character string which we then print, so quotes are gone. whereas with stub registry we have `webmockr_stub_registry$request_stubs[[1]]$to_s()` and somehow we leave quotes in. make them cons

[2018-05-03 21:38] sckott opened #36 "request body not supported yet"

[2018-05-03 21:41] sckott opened #37 "Error message with suggested stub code not giving bodies"
[code]

[code]

i.e,. no body given

[2018-05-03 23:04] sckott opened #38 "Support partial matching ?"
partially including a hash

- body https://github.com/bblimke/webmock#matching-request-body-against-partial-hash
- query params https://github.com/bblimke/webmock#matching-partial-query-params-using-hash

partially excluding a hash

- query eg. https://github.com/bblimke/webmock#matching-partial-query-params-using-hash_excluding but should work on both

some links on partial matching so I don't lo

[2018-05-04 04:27] sckott opened #39 "Add tests and make sure content type matching in request bodies is working"
still not sure if it's working or not

[2018-05-04 04:48] #36 closed

[2018-05-04 04:48] #37 closed

[2018-05-04 14:19] #34 closed

[2018-05-14 14:20] nbenn opened #40 "curl support"
I'm interested in using webmockr for a test suite of mine, but I'm currently using [jeroen/curl](https://github.com/jeroen/curl) for making http requests.

Are there plans on supporting curl or is this not happening anytime soon?

[2018-05-14 17:19] sckott commented on #40
thanks for the nudge @nbenn

Integrating with a http client library (e.g., `curl`) does require tweaking the `curl` package a tiny bit to have a hook for `webmockr`. I'll see if he's interested in doing it.

what functions do you use in `curl` that you'd want to mock?

[2018-05-16 14:53] nbenn commented on #40
Thanks for the quick response.

The package I'm hoping to use `webmockr` with uses both easy handles (`curl::curl_fetch_memory()`) as well as the multi interface (`curl::curl_fetch_multi()`/`curl::multi_run()`).

[2018-05-16 21:44] sckott commented on #40
thanks for the clarification @nbenn - will update on any progress

[2018-05-18 12:26] nbenn commented on #40
Let me know if there is anything I can do to help. I'm happy to.

[2018-05-18 19:48] sckott commented on #40
@nbenn okay, try after installing like `remotes::install_github("ropensci/webmockr@adapter-curl")`, which will also install a fork of `curl` pkg from my gh account

see examples here https://github.com/ropensci/webmockr/blob/adapter-curl/R/adapter-curl.R#L37-L66

it's a bit of a hack - it's not easy to inspect the curl handle so we use `curl::curl_echo` to make a fake request to localhost, which g

[2018-05-21 22:39] sckott opened #41 "security: how do we deal w/ malicious attacker/side effects"

[2018-05-21 22:43] sckott opened #42 "possibly wrap `curl` pkg fxns instead of hooking into them"
??

[2018-06-06 11:39] nbenn commented on #40
@sckott thanks a lot for moving so quickly with this and I am sorry that it took a bit of time for me to have a look at it.

Naturally, down the line, I'm interested in getting webmockr and vcr to work with curl.

But first, in order to get the automated recording of requests working, we'd need the [`webmockr_net_connect_allowed`](https://github.com/ropensci/webmockr/blob/adapter-curl/R/adapter-cu

[2018-06-07 01:55] sckott commented on #40
yeah, PRs welcome. makes total sense you'd need net connect allowed working. does https://github.com/nbenn/curl/commit/50571d8c166313a08373ca2714481b77044ac8aa make net connect allowed work?

does the use of `curl_echo` bother you at all? or are you okay with that?  It sounds like Jeroen may be able to sort out a curl handle inspection thing some day, but it wouldn't happen any time soon.

[2018-06-13 15:49] sckott commented on #40
fix for allow net connect for curl adapter in 850b31ffc89b7eb74b88f5135ee6488c012cccc9

[2018-06-13 15:49] sckott commented on #40
@nbenn can you reinstall `remotes::install_github("ropensci/webmockr@adapter-curl")` and try real connections again with webmockr loaded

[2018-06-13 15:52] sckott opened #43 "httr support"
in the works, see branch `adapter-httr`

[2018-06-13 15:53] sckott commented on #43
real connections inside httr adapter not working yet

[2018-07-27 17:54] sckott commented on #40
@nbenn did you get a chance to try this yet?

[2018-07-29 11:59] nbenn commented on #40
@sckott I haven't tried any `webmockr` related stuff, sorry. I though I'd wait until the `infx` review process is over, before taking this up again.

[2018-10-17 00:10] sckott commented on #43
done via #44

[2018-10-17 00:10] #43 closed

[2018-10-30 09:04] maelle opened #45 "webmockr in tests without installing all adapters"
:wave: @sckott!

We're seeing a test failure over at `HIBPwned`, one of which is due to `webmockr` https://travis-ci.org/lockedata/HIBPwned/jobs/447952505#L1729 I'd like to enable `webmockr` for `crul` only. Would it be possible to pass an option? Or maybe could `webmockr` find which adapter to use automatically by e.g. looking at dependencies when called from a test context?

By the way it seems

[2018-10-30 09:09] maelle commented on #45
And it seems the other failure we're getting in a test after this one

https://travis-ci.org/lockedata/HIBPwned/jobs/447952505#L1753

is also due to `webmockr`, because the `webmockr::disable()` from this test hadn't worked.

[2018-10-30 09:19] maelle commented on #45
I thought a quick fix would be for me to add `httr` in the Travis config file

https://github.com/lockedata/HIBPwned/compare/367a216f700a...2b00dae21c40

which means `httr` was installed https://travis-ci.org/lockedata/HIBPwned/jobs/448222146#L1001

But it wasn't enough https://travis-ci.org/lockedata/HIBPwned/builds/448222145, same failures as before. Therefore, for now I put `httr` under `Sugges

[2018-10-30 16:22] sckott commented on #45
thanks! having a look

[2018-10-30 16:49] maelle commented on #45
It said to install httr "Please install httr". To reproduce, take that repo without httr in Suggests

[2018-10-30 16:49] maelle commented on #45
See https://travis-ci.org/lockedata/HIBPwned/jobs/448222146

[2018-10-30 17:04] sckott opened #46 "Fix docs for httr/crul in onload and flipswitch"
via #45

[2018-10-30 17:11] sckott commented on #45
thanks

[2018-11-01 05:17] sckott commented on #46
fixed in 839a330

[2018-11-01 05:17] #46 closed

[2018-11-01 05:18] sckott commented on #45
@maelle can you reinstall and try again? I think it's fixed, tried locally by removing httr from suggests in the pkg and it seemed to work

[2018-11-01 05:39] maelle commented on #45
Thanks, trying now 🤞

[2018-11-01 06:04] maelle commented on #45
Yay it works! https://travis-ci.org/lockedata/HIBPwned/builds/449196009 Thank you!

[2018-11-01 18:04] #45 closed

[2018-11-01 18:14] sckott commented on #26
doesn't seem relavant here

[2018-11-01 18:14] #26 closed

[2018-11-01 18:33] #35 closed

[2018-12-03 16:57] hlapp opened #47 "Comparison to httptest?"
I'm wondering whether anyone's considered what this package provides in comparison to [httptest](https://enpiar.com/r/httptest/)? The approaches seem quite different, but the intent seems quite similar?

[2018-12-03 17:10] hlapp opened #48 "Type of response header value depends on how stub was constructed"
For example, if a request stub is constructed with a decimal value for a response header, then the response header obtained from a request has a decimal as the value for the respective header. This may seem natural at first, however for real web requests all values are character vectors, not decimals. Hence, the behavior is inconsistent with real web requests, which kind of defeats the purpose of

[2018-12-03 17:23] sckott commented on #47
there can be many packages that do the same thing. this package is more general working with any http package, whereas the other targets only httr

[2018-12-03 17:23] #47 closed

[2018-12-03 18:14] sckott commented on #48
I'd appreciate it if you change your tone, here and in other issues you've opened recently. It does not make me want to respond in a helpful and constructive fashion

[2018-12-03 22:05] hlapp commented on #48
@sckott I'm sorry if I'm not hitting the right tone, but I'm really just reporting my observations of what I believe to be incorrect behavior of some piece of code, and as to why I believe the behavior is incorrect. I'm reporting it because the behavior of the code as is tripped up my test and it cost me some time to debug what's going on.

That's all. It's fine if you disagree and find that the c

[2018-12-03 23:05] hlapp opened #49 "Response header names retain case"
When setting response headers to be returned in a stub request, the header names do not get changed to lowercase when received by `crul`. This is different from the normal behavior (in `crul`) for response headers from actual web requests, where all header names will be converted to lower case.

[code]

I'm not sure whether this actually belongs here, or instead is an issue with `crul`? But since

[2018-12-04 23:01] sckott commented on #49
Thanks - I'll have a look. Right, it should return headers as they woul be returned in a real request

[2018-12-05 00:04] sckott commented on #49
This should be fixed now

[2018-12-05 00:04] #49 closed

[2018-12-05 01:33] sckott commented on #48
this should be fixed now. thanks for raising the issue.

[2018-12-05 01:33] #48 closed

[2018-12-27 01:28] sckott opened #50 "WebMock.reset_executed_requests! method in new webmock - replicate?"
https://github.com/bblimke/webmock/blob/master/CHANGELOG.md#350

`WebMock.reset_executed_requests!`

[2018-12-31 22:05] sckott opened #51 "Change `build_crul_response` in crul adapter"
because of change in ropensci/crul#60  change `build_crul_response` in `R/adapter-crul.R` to match new output with `response_headers_all` slot and modified header parsing

[2019-01-03 00:16] sckott opened #52 "multiple intermediate headers on redirect"
related Ruby webmock issue from 2014 https://github.com/bblimke/webmock/issues/237

We can set a single set of response headers for a stub, but currently not for multiple sets of response headers - `crul` can now support all intermediate headers, along with `httr` - so ideally users would be able to stub the set of intermediate headers, not just the final headers returned

interesting that Ruby we

[2019-01-03 23:06] sckott opened #53 "skip appropriate tests if vcr not available"

[2019-01-03 23:07] #53 closed

[2019-01-04 03:15] #51 closed

[2019-01-07 18:11] sckott opened #55 "RequestPattern: sort out whether private methods needed or not"
see FIXME at https://github.com/ropensci/webmockr/blob/master/R/RequestPattern.R#L78

[2019-01-10 21:44] sckott commented on #40
changes in 3b05bc1bec417ae80a01cca46107cb8a92c9e6c5

[2019-01-10 21:51] sckott commented on #40
@nbenn if you have a chance, just updated the integration with `curl` - reinstall from remotes::install_github("ropensci/webmockr@adapter-curl")

[2019-01-15 21:50] sckott opened #56 "mock streaming?"
Even Ruby `webmock` can't do this yet AFAICT https://github.com/bblimke/webmock/issues/629

So not optimistic this can be done

[2019-01-15 22:11] sckott opened #57 "mock writing to disk"
**Info**

for each of `curl`, `crul`, `httr`

via `curl::curl_fetch_disk()` for `curl`, `disk = TRUE` for `crul` and `httr::write_disk()` for `httr`

the latter two build on top of the first.

for each of these, if the user writes to disk, the `$content` slot is:

- character class
- the path to the file

rather than what `$content` normally is: class raw

-----

**Approach**

* if `to_return()` n

[2019-02-01 18:54] sckott opened #58 "fix date slot in httr response object"
via vcr issue https://github.com/ropensci/vcr/issues/91

[2019-02-01 20:38] sckott opened #59 "fix headers in httr response object: attach insensitive class"
via forum https://discuss.ropensci.org/t/parsing-the-body-of-a-stubbed-request-from-webmockr/1570

[2019-02-02 01:13] karawoo opened #60 "webmockr can't find objects when run from testthat"
Here's another one for you @sckott. webmockr code that works when run in an interactive session is failing when run in testthat. Using the fix from #59, this works:

[code]

But when the same code is run within a testthat test, webmockr can't find the `dat_json` object:

[code]

<sup>Created on 2019-02-01 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

<details> <summary><str

[2019-02-02 01:48] sckott commented on #60
thanks @karawoo

i think it's something weird going on due to `to_return` using lazy eval AND `test_that` doing the same. If you put `dat_json` outside of the block it seems to work fine for me a least.

[code]

OR looks like this works as well to quote `dat_json`:

[code]

(`%>%` is re-exported by `webmockr` so I don't think you need it in this eg)

Is it palatable to put that object outside of t

[2019-02-02 01:54] #58 closed

[2019-02-02 01:54] #59 closed

[2019-02-02 19:34] karawoo commented on #60
Putting `dat_json` outside the testthat block works when I'm running the code interactively, but if I test the file with `test_file()` (or try to run all the package's tests with `test()`) I get the same error. Putting `"dat_json"` in quotes does work.

[2019-02-02 20:16] sckott commented on #60
thanks for the update, will keep looking

[2019-02-04 16:46] karawoo commented on #60
Actually putting `"dat_json"` in quotes makes the test pass but the content of the response is just the string `"dat_json"`, not the data contained in `dat_json`.

[2019-02-05 00:48] sckott commented on #60
dang. Sorry about misleading you on that.

[2019-02-05 05:48] sckott commented on #60
think i sorted it out, fix soon

[2019-02-05 19:33] sckott opened #63 "prettify StubbedRequest print method"
e.g.,

[code]

there's no cutting off of, or wrapping elements. probably newline and indent for each new header e.g.,

[2019-02-05 22:51] karawoo commented on #60
That works, thank you!

[2019-02-06 02:55] #60 closed

[2019-02-06 18:24] #63 closed

[2019-03-18 14:27] EHJ-52n opened #65 "httr example not returning headers as outlined but NULL"
I am following the instruction in the [README.md regarding the htttr integration](https://github.com/ropensci/webmockr/blob/master/README.md#httr-integration) and it is not working as expected:

[code]

<details><summary><strong>Session Output</strong></summary>

[code]

Both last calls result in the following error: `Error in fetch(key) : lazy-load database '/usr/local/lib/R/site-library/webmockr

[2019-03-18 21:00] sckott commented on #65
thanks for the issue

I can't replaicte the `lazy-load database  ...` error, it often is fixed after restarting the R session

[2019-03-18 21:01] #65 closed

[2019-03-18 21:01] sckott commented on #65
fixed. should be `res$headers`

[2019-03-31 12:56] nbenn commented on #40
@sckott sorry for the crazy long delay on my side. I got round to testing `vcr`/`webmockr` in conjunction with `curl`. The short story: with the current state of things I don't get very far. I'm happy to elaborate a bit:

For me, `webmockr` fails [when trying to evaluate the original call](https://github.com/ropensci/webmockr/blob/7ea7cb381f776071ae491fca11565e49f28af21b/R/adapter-curl.R#L184), be

[2019-03-31 13:25] nbenn commented on #40
Is `vcr` supposed to work in conjunction with the curl branch of `webmockr`? I can't get it to store a response.

[2019-04-01 23:28] sckott commented on #40
I thought I had started work on `curl` integration in `vcr`, but I don't think I have. I'll start a branch for that. we need a https://github.com/ropensci/vcr/blob/master/R/request_handler-crul.R equivalent for `curl`

[2019-04-01 23:39] sckott commented on #40
thanks for testing this @nbenn

I'm not surprised you ran into trouble as I probably only tested it in a very narrow set of cases.

First, note that I'm not positive @jeroen will integrate `webmockr` in `curl` - see the PR at https://github.com/jeroen/curl/pull/174#issuecomment-467561254 - in a call somewhat recently we talked about a different approach than what is being used now, i'm not sure wh

[2019-04-01 23:39] sckott commented on #40
your two PR's are merged now.

[2019-04-18 14:52] EHJ-52n commented on #39
I am using the following set-up:
[code]

The following minimal example show the problem:
[code]

Output when executed:
[code]

The correct value is returned by `httr::headers`.  `httr::http_type` does more than only reading the `content-type` header.

[2019-04-23 09:26] EHJ-52n commented on #39
@sckott
Any updates on this issue? DId you have time for taking a look? Can I support you anyhow?
Kind regards!

[2019-04-23 09:58] EHJ-52n commented on #39
`httr::http_type` [is checking with uppercase for the correct header](httr::headers(.response)): `Content-Type` and not `content-type`:
[code]

Using the example script from above, it seems that `webmockr` or `httr` sets the value with lowercase:
[code]

[2019-04-23 16:53] sckott commented on #39
thanks for this. i was away for a family event. I'll have a look

[2019-05-01 00:28] sckott commented on #39
i can replicate your problem with that older version of `webmockr` - it has since been fixed - see release notes for the current version on cran https://github.com/ropensci/webmockr/releases/tag/v0.3.4 - let me know if that works

[2019-06-07 17:45] sckott commented on #39
did you test it @EHJ-52n ?

[2019-06-12 23:18] sckott opened #67 "fix http testing book links: ropensci -> ropenscilabs"

[2019-06-13 18:06] #67 closed

[2019-06-13 21:10] sckott commented on #39
@EHJ-52n ?

[2019-06-14 06:48] EHJ-52n commented on #39
@sckott I have this check on my stack but will not be able to work on this before next week, hence be patient.

Thanks for the reminders!

[2019-07-24 18:23] sckott opened #68 "tweaks to matchers"
- header matching
- egs of single type matching

[2019-07-24 18:24] #68 closed

[2019-07-30 00:46] sckott opened #70 "fix vcr related problem with stub specification"
at https://github.com/ropensci/webmockr/blob/master/R/adapter-crul.R#L157 and https://github.com/ropensci/webmockr/blob/master/R/adapter-httr.R#L189 should be `headers = req$headers`

[2019-07-30 00:47] #70 closed

[2019-08-08 23:09] erzk opened #71 "Dead link to user manual on CRAN"
Link to [user manual](https://ropensci.github.io/http-testing-book/) on [CRAN](https://cran.r-project.org/web/packages/webmockr/) is dead.

DESCRIPTION file uses another URL: https://ropenscilabs.github.io/http-testing-book/

This could be a difference between dev and CRAN version but I thought it's worth raising an issue anyway.

[2019-08-09 16:22] sckott commented on #71
thanks! Aware of that, and did fix it here already https://github.com/ropensci/webmockr/issues/67 Same problem with vcr. been meaning to get new versions up soon, but had some other issues to sort out first

[2019-08-09 16:22] sckott commented on #71
thanks! Aware of that, and did fix it here already https://github.com/ropensci/webmockr/issues/67 Same problem with vcr. been meaning to get new versions up soon, but had some other issues to sort out first

[2019-08-09 21:12] #71 closed

[2019-08-09 21:13] sckott commented on #71
sending to cran today

[2019-11-07 22:52] sckott commented on #40
@nbenn sorry for long delay on this, jeroen and I talked again the other day and we decided curl wont integrate with webmockr mostly b/c curl is just too important to possibly introduce edge case bugs into

[2019-11-07 22:52] #40 closed

[2019-11-07 22:53] sckott commented on #42
now that #40 closed, this is the only option, thoughts sometime maybe ...

[2019-11-17 06:23] sckott opened #72 "raw response handling to fix"
on branch https://github.com/ropensci/webmockr/compare/fix-raw-response-handling

needed due to https://github.com/ropensci/vcr/issues/112

[2019-11-17 06:46] #72 closed

[2019-11-17 16:48] sckott opened #74 "httr authenticate being ignored in httr requests"
via https://github.com/ropensci/vcr/issues/113

[2019-11-28 17:21] sckott opened #75 "add request_registry_clear method"

[2019-11-28 17:28] #75 closed

[2019-12-03 01:54] #74 closed

[2019-12-03 03:03] #57 closed

[2019-12-03 03:09] sckott opened #77 "convert to new R6 docs"

[2019-12-04 00:14] #77 closed

[2019-12-07 01:22] sckott opened #78 "Make sure write_disk_path=NULL fails well when user is writing to disk and using vcr"
added stop message here https://github.com/ropensci/vcr/commit/a55977b31359123bc127cbd7e8d9eda2af08c426 in vcr - need to add similar one here

[2019-12-07 01:23] sckott opened #79 "write_disk_path: not dealing with it in the httr adapter as we are in the crul adapter"
related to #78

not sure what's going on there, maybe I forgot to add it in the httr adapter?

[2019-12-12 19:01] sckott opened #80 "response class is not setting body correctly"
via https://github.com/ropensci/vcr/issues/128

[2019-12-13 00:06] sckott opened #81 "change readme setup so content in <details> is html"
so that it renders on docs site

[2019-12-13 00:13] #81 closed

[2019-12-17 22:17] sckott opened #83 "StubbedRequest to_s method is formatting query params incorrectly"
e.g.,

[code]

gives

[code]

`?foo=bar,stuff=things` should be `?foo=bar&stuff=things`

[2019-12-17 22:17] sckott commented on #83
i don't this affects matching per se, but is definitely not good

[2019-12-17 22:50] aaronwolen opened #84 "StubbedRequests fails when body contains a listed form file"
Ran into this while finishing up on https://github.com/ropensci/vcr/pull/130. I initially thought it was an issue caused by the new `pluck_body()` but I can reproduce it on the master branch w/ either crul or httr.

[code]

I tracked it back to `RequestSignature`'s `to_s()`method but didn't get to dig much further.

[code]

<sup>Created on 2019-12-17 by the [reprex package](https://reprex.tidyvers

[2019-12-17 22:55] sckott commented on #84
thanks! will have a look

[2019-12-19 20:19] sckott opened #85 "`wi_th()` `body` param not handling upload objects well"
found while looking into #84

[2019-12-20 02:03] sckott commented on #84
working on this 😓 its complicated ... I'm probably going to have to split apart `pluck_body` - a couple different scenarios

- when used for constructing a real httr request https://github.com/ropensci/webmockr/blob/master/R/adapter-httr.R#L167-L173 when net connect is allowed when webmockr is enabled, as the body that we need there what you'd actually pass to body in httr verb, for an upload not

[2019-12-20 14:52] aaronwolen commented on #84
It *is* complicated. I enjoyed poking around the internals of webmockr/vcr and learning how they work but I had to sketch out a diagram of the various classes and how they interact with one another. It looked like one of those bulletin boards from Homeland.

Does it make sense to add something like `format_body()` (or `print_body()`) for the express purpose of formatting the various body types? Th

[2019-12-20 16:48] sckott commented on #84
Good idea to map it out. Would be good to add something like that to the book https://books.ropensci.org/http-testing/

Perhaps yes on breaking out fxns for making string representations of bodies vs. the actual body - hopefully will push something soon

[2019-12-20 18:26] #85 closed

[2019-12-20 18:27] sckott commented on #84
fix in 63c9760

[2019-12-20 18:27] #84 closed

[2019-12-20 18:29] #80 closed

[2019-12-20 18:37] #83 closed

[2019-12-20 18:57] #78 closed

[2019-12-20 18:58] #42 closed

[2020-01-02 18:58] aaronwolen opened #86 "httr requests fail when vcr is loaded with no cassettee inserted"
[code]

<sup>Created on 2020-01-02 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

I'm working on a PR with a fix.

[2020-01-02 19:02] sckott commented on #86
thanks!

[2020-01-02 22:55] aaronwolen commented on #86
Let me clarify something: if a request is both stubbed *and* recorded to a cassette, then we should preferentially return the stubbed response, right?

[2020-01-02 23:14] aaronwolen commented on #86
Never mind, I got a little lost in the [`request_is_in_cache(request_signature)`](https://github.com/ropensci/webmockr/blob/204e5e39a338704ae6859d29fda0b24151af2c03/R/adapter-crul.R#L41) block; checking for vcr in two different places threw me off.

[2020-01-02 23:50] sckott commented on #86
let me know if you still have questions

[2020-01-07 20:18] #86 closed

[2020-01-07 20:29] sckott opened #89 "cleanup httr adapter test from recent PR"
@aaronwolen one of the new tests is leaving a file on disk `empty.yml`. I tried the following briefly

[code]

it works for cleaning up the cassette file in the temp dir, but somehow there's an empty.yml file being created in the tests/testthat directory too. Or is this just happening to me?

[2020-01-07 21:02] aaronwolen commented on #89
Not just you—I see it now too. I'll check it out.

[2020-01-07 21:59] #89 closed

[2020-01-24 14:11] aaronwolen opened #91 "Requests are performed twice when vcr is loaded"
I don't have a great minimal reprex for this issue but it can be demonstrated pretty easily w/ osfr.

Here I create a new project with webmockr enabled and subsequently list projects with matching names. As expected, only one match is found.

[code]

Same thing but performed within a cassette. Listing the projects again reveals two projects named "vcr-test-2" were created.

[code]

<sup>Created on

[2020-01-24 20:50] sckott commented on #91
thanks for this @aaronwolen - we should avoid duplicate requests for sure.

that solution at first glance at least looks right to me. Ill have a look soon

[2020-01-31 22:50] #91 closed

[2020-02-26 14:48] maelle opened #93 "Add grouping to reference on the pkgdown website?"
:smile_cat: :pray:

[2020-02-26 14:49] maelle commented on #31
Re-visiting ropenaq tests, I'm very interested in this.

[2020-02-26 15:49] maelle opened #94 "Does one need enable() in tests using webmockr?"
Maybe not? in https://books.ropensci.org/http-testing/webmockr-testing.html

And if not, when does one need it?

[2020-02-26 15:51] maelle commented on #94
And if one enables webmockr, it seems it means all requests need a stub, so one cannot have a single stub in the registry? What if I want an error for one URL, but business as usual for others? Sorry if I'm missing something obvious in the docs.

[2020-02-26 16:22] sckott commented on #31
okay, will bump this up in the priority list

[2020-02-26 18:05] sckott commented on #94
I think best thing would be to do enable just before you want to use mocking, then disable right after that code block which should return http requests to normal.

does business as usual mean mocking with webmockr or no mocking

[2020-02-26 18:29] maelle commented on #94
No mocking, only mocking some http interactions (the ones I want to replace with errors)

[2020-02-26 18:45] sckott commented on #94
okay.

let me know if that flow works:

[code]

[2020-02-26 19:57] #93 closed

[2020-02-26 20:00] sckott commented on #93
https://docs.ropensci.org/webmockr/reference/index.html

[2020-02-27 08:13] maelle commented on #93
Awesome, thank you!

[2020-03-13 22:33] sckott opened #95 "need to use relative path when dealing with write to disk"
webmockr counterpart to https://github.com/ropensci/vcr/issues/135

[2020-03-23 17:04] #95 closed

[2020-03-24 18:54] sckott commented on #94
@maelle ^^ when you get a chance

[2020-03-29 07:26] maelle commented on #94
I opened a PR in ropenaq, it worked well.

Does it mean any HTTP request happening in the block need a stub, or if there's no stub for a request in the block, a real request could be used? Or even a vcr cassette?

[2020-03-29 07:46] maelle commented on #31
When this works won't it be easier to test the "retry" method in crul? :slightly_smiling_face:

[2020-03-29 15:22] sckott commented on #31
yes, good point

[2020-03-30 15:03] sckott commented on #94
after running `enable()` you shouldn't be able to make real HTTP requests. But, you can run `enable()`, then enable real http requests with `webmockr_allow_net_connect()`. I don't know what would happen if you run `enable()`, then use vcr; i think it'd work fine, but haven't tried it.

[2020-03-30 15:09] maelle commented on #94
I'll do more experiments in further PRs to ropenaq then, and report back. Thank you!

[2020-03-30 15:22] sckott commented on #94
ok, thanks

[2020-04-02 00:19] sckott commented on #32
failing in vcr tests on

[code]

[2020-04-02 02:57] sckott commented on #32
also a problem: after running one stub with >1 response, and http requests matching that stub, then clearing the stub registry, then making that same stub, only the last response is given when making http request matching that stub

[code]

[2020-04-02 02:58] sckott commented on #10
works no, with work on `then` branch

[2020-04-02 15:21] sckott opened #97 "a reset function needed"
to clear both stubs an the request registry

related to #32 and #10 - as need to be able to clear both stub and request registry to make multiple response stubs work because request counter was not being cleared after clearing stub registry only

[2020-04-02 16:46] matthewcornell opened #98 "How do I access the passed body of a POST call?"
Hi Folks. Thanks very much for your work. Question: I have a `stub_request` call that's working fine, but I want to access the body that was passed to the stub so I can verify its correctness. However, I can't find where the requested content is located in the `StubbedRequest` returned by `stub_request`. Since your code is intercepting the POST, I must be missing something. Thank you!

[code]

[2020-04-02 18:09] sckott commented on #98
thanks for your question @matthewcornell

if `stubbed_request` is your stub, you should be able to get to expected response parts by indexing like `stubbed_request$responses_sequences` - it's not the most intuitive flow i'll admit.  `stubbed_request$body` is for if you specify a body to match on with `wi_th()`, so that's not the response body you set with `to_return()`.  let me know if that works

[2020-04-02 18:53] matthewcornell commented on #98
Thanks for your reply, @sckott . I apologize for not being clear. What I'm looking for is the actual body that was passed to `httr::POST()`. Here's an example. First, a simple function under test that POSTs what it's passed:

[code]

Second, a test that stubs the POST:

[code]

That `stubbed_request$ACTUAL_POSTED_BODY` property is what I'm after. HTH

[2020-04-02 19:04] sckott opened #99 "potential issue with multiple to_return changes affecting vcr"
when initially running tests with changes in `then` branch, I got these errors in vcr test suite.

[code]

After adding `webmockr::webmockr_reset()` to the top of the block in that test file, the errors went away.  This still seems fishy, and need to look into more.

[2020-04-02 19:07] sckott commented on #32
above problem ^^ is sorted now with #97

[2020-04-02 19:15] sckott commented on #32
@aaronwolen @maelle if you have a chance can you test out the [then branch](https://github.com/ropensci/webmockr/tree/then), install `remotes::install_github("ropensci/webmockr@then")`, including any webmockr (AND vcr uses you have, to make sure we aren't breaking vcr with changes here)

[code]

[2020-04-02 19:25] sckott commented on #98
okay. the body sent in the http request will only be in the stub object IF you create the stub with the request body. e.g,.

[code]

Alternatively, if you're function `do_post()` returned the httr response object you'd have the request body in it:

[code]

[2020-04-02 20:05] matthewcornell commented on #98
Thanks. I try to avoid changing functions under test unless I have to, so let met ask about your first solution: Are you saying that the actual body POSTed by `do_post()` is not directly saved in `stubbed_request`? The point of my test is to make sure that `do_post` POSTs the correct content. (My example here is obviously contrived. In the real code, the POSTed body is more complicated.)

I feel l

[2020-04-02 20:06] matthewcornell commented on #98
Maybe I'm misunderstanding the role of webmockr with respect to obtaining the actual content POSTed. Is there some other package that does this? I saw vcr mentioned, but a quick perusal left me confused :-O

[2020-04-02 23:12] sckott commented on #98
- webmockr: is for mocking, it's goal is not to cache real http requests, but to let the user specify mock/fake responses
- vcr: is for caching of real http requests, mostly for unit tests. it leverages webmockr to match requests

[2020-04-02 23:19] sckott commented on #98
correct. it breaks down like this:

`stub_request` creates a stub by matching against certain elements of an HTTP request.

if you do  `stub_request('post', uri = "https://httpbin.org/post")` you are matching on the http verb and the uri of the http request.

if you do `stub_request('post', uri = "https://httpbin.org/post") %>% wi_th(body = list(foo = "bar"))` then you are matching on http verb, t

[2020-04-03 13:05] maelle opened #100 "docs or book? to_raise vs to_return"
In https://github.com/ropensci/ropenaq/pull/51 I used to use `to_raise()` but I didn't want the `retry()` to actually fail, just to have a 429 HTTP status so I switched to `to_return()`. I'm still not sure whether it's right but I'm sure a docs topic somewhere about "so you want to mock something related to an HTTP error, should you use to_raise() or to_return()" would be great :wink:

[2020-04-03 13:12] maelle commented on #32
Yay! Looking forward to testing this in new tests.

Regarding easier checks:

* ropenaq tests still pass;

* I ran your example.

[code]

<sup>Created on 2020-04-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-03 13:18] maelle commented on #32
This is really very exciting:

[code]

<sup>Created on 2020-04-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

:tada:

[2020-04-03 16:49] matthewcornell commented on #98
Thanks a ton for the info - that helps bring me up to speed a little better. It sounds like vcr is what I should check out next. Right now my approach (e.g., https://github.com/reichlab/zoltr/blob/bd93b5fc01d2d68799daca720ef2f7189f7687eb/tests/testthat/test-project.R#L12 ) is to use webmockr to stub the request, along with `testthat::with_mock()` to catch the call. I'm very new to R (Python is my

[2020-04-04 19:32] sckott commented on #100
Thanks for this @maelle - I was just thinking about this the other day.  The reference point I always look at is the Ruby webmock library, as you know. With `to_raise()`, they raise an error rather than simply returning whatever error class is given to `to_raise()` - and thats what we do here.

i don't think we have to follow what webmock library does though. so i've been wondering if we change `t

[2020-04-04 19:35] sckott commented on #98
for the warning about R 3.5, try `save(object, file="yourfilename", version = 2)`

[2020-04-04 19:37] sckott commented on #98
With regard to how you're using webmockr in your pkg, that's a valid way to use it. I would say `vcr` just does that for you, where you just wrap your function that makes an http request in `vcr::use_cassette()`, and it takes care of caching the http request and response so all subsequent test runs use that cached data. with `webmockr` though you get more control over those steps, so its really up

[2020-04-04 20:00] maelle commented on #100
Yes, but the docs should also state _why_/_for what use case_ you'd need either of the behaviors?

[2020-04-04 20:14] sckott commented on #32
awesome, thanks for trying it @maelle

[2020-04-05 19:32] aaronwolen commented on #32
Sorry, late to the game here but this is really neat. I can confirm it doesn't break any of osfr's (still half-baked) vcr tests.

[2020-04-06 13:42] matthewcornell commented on #98
Thanks a ton for that! Cheers.

[2020-04-06 13:42] #98 closed

[2020-04-06 15:17] sckott commented on #100
yes, agree, sounds good

[2020-04-08 01:23] #10 closed

[2020-04-08 01:23] #32 closed

[2020-04-08 01:23] #97 closed

[2020-04-08 01:35] sckott commented on #31
@maelle okay, we have support for multiple responses now - the `then` branch is now merged to master. something like:

[code]

[2020-04-09 13:37] maelle commented on #31
That's really nice. I was thinking about using this for ropenaq tests but in ropenaq I use the crul retry method for non async and hope that there will be a crul retry method for async. This way no need for me to test for that in ropenaq... I'll try to make a PR to add a test to crul.

[2020-04-09 13:39] maelle commented on #31
mmmh actually I also add a test to ropenaq.

[2020-05-07 00:29] juliasilge opened #102 "Unregistered request, but request looks registered to me?"
Hello! 👋  Thank you so much for your work on these helpful API testing packages. We are trying to improve/update the testing for [qualtRics](https://github.com/ropensci/qualtrics) and we are having some troubles.

This issue is about ropensci/qualtrics#161 and some issues with mocking stubs. The version of qualtRics I have installed here is from that PR but I believe it shouldn't matter (even CRAN

[2020-05-07 16:13] sckott commented on #102
thanks! having a look

[2020-05-07 17:05] sckott commented on #102
Tested and I confirm what you get.

For now, you can make it work by setting the url to match against including the scheme, so do instead:

[code]

I have webmockr configured to match against the url given in `stub_request` verbatim - without accounting for missing http scheme and adding it when needed. So for now you need to include whatever scheme is used, http or https.

i'll update here soon t

[2020-05-07 20:08] juliasilge commented on #102
This worked; thank you so much! 🙏

Feel free to close this since my problem is addressed by including the scheme, or keep it open if it's helpful for your planning.

[2020-05-07 20:18] sckott commented on #102
glad it works. I'll leave it open to address the scheme matching issue

[2020-06-02 00:05] #102 closed

[2020-06-02 03:03] #31 closed

[2020-06-02 03:12] sckott opened #103 "Support auth matching in wi_th"
- simple auth in header https://github.com/bblimke/webmock#request-with-basic-authentication-header
- simple auth in url https://github.com/bblimke/webmock#request-with-basic-authentication-in-the-url

[2020-06-02 16:50] sckott opened #104 "UriPattern update"
while looking into https://github.com/ropensci/webmockr/issues/38, realized UriPattern needed a fix for query params, we were only comparing uri to uri, not uri to uri AND query params to query params

[2020-06-02 16:51] #104 closed, assigned to nobody

[2020-06-05 05:19] sckott opened #105 "maybe support async - crul only"
see webmock `Async::HTTP` adapter
 https://github.com/bblimke/webmock/blob/master/lib/webmock/http_lib_adapters/async_http_client_adapter.rb

[2020-06-05 05:22] sckott commented on #38
- [x] query params: include
- [x] query params: exclude
- [ ] request body: include
- [ ] request body: exclude

[2020-06-09 16:06] sckott commented on #38
@maelle @aaronwolen if either of you have time - i'd be interested to see what you think of this partial matching stuff. Only query matching is done so far; hope to get request body matching done soon

[code]

[2020-06-09 16:18] aaronwolen commented on #38
Sure, I'll test it out. I might actually have a use case for it too!

[2020-06-09 16:39] sckott commented on #38
thanks!

[2020-09-02 01:48] dgkf opened #106 "`stub_request` param `uri_regex` doesn't allow for regex in the uri path"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

I'm trying to figure out how to use `stub_request("any", uri_regex = <regex>)`, but running into a bunch of problems trying to interpret the correct behavior. From what I can tell, regular expressions in the uri path aren't respected. The documentation for the `uri_regex` parameter doesn't state which parts can be used

[2020-09-04 22:20] sckott commented on #106
thanks @dgkf for the issue  - having a look

[2020-09-04 23:15] sckott commented on #106
what do you mean by which parts? the whole string given to `uri_regex` is a regex string, so any parts of it. e.g., you can just give `.+`

[2020-09-05 00:37] dgkf commented on #106
Thanks for the update @sckott,

I wasn't sure if it was intended behavior to escape the uri path components. My interpretation based on the documentation was that the whole uri should be treated as regex, but I wasn't sure.

---

This looks like it solved this issue with the regular expressions in the uri host and paths, but I think in the process of testing it I've dug up another bug or two relat

[2020-09-05 01:08] sckott commented on #106
thanks

[2020-09-05 01:19] dgkf opened #107 "Feature Request: Allow non-string atomic types in `wi_th` query params"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

While debugging #106 I realized that one of the issues I was encountering was due to passing a query parameter as a numeric.

[code]

Digging into why this was failing, I found that `<RequestPattern>$uri_pattern$query_params_matches()` will use the raw values provided to `wi_th` and compare those against the extracted q

[2020-09-05 01:56] dgkf commented on #107
As one follow-up note, I don't believe this behavior in the comment in `query_params_matches`

https://github.com/ropensci/webmockr/blob/0d0a7b42978b6dc4383822badfaab90549ff38ea/R/RequestPattern.R#L556

is described in the documentation. At least, it's not documented in some of the places where it's probably most relevant to an end user such as `stub_request` or `wi_th`. I encountered this while t

[2020-09-08 17:29] sckott commented on #107
I think it makes most sense to coerce all stub request elements to character before registering the stub.

good idea. though, i'd like to address this fully sooner rather than later. That is, probably use the url minus any query params for the regex comparison (if the user gives `uri_regex`), and compare the query separately (if given)

I guess a user may give query params in the url given to `uri

[2020-09-24 23:43] sckott commented on #38
@aaronwolen did you have a chance to test this?

[2020-09-24 23:46] sckott commented on #38
`including` branch https://github.com/ropensci/webmockr/tree/including now up to date with master

[2020-09-24 23:46] sckott commented on #38
@maelle any time to test this? no worries if not

[2020-09-25 06:37] maelle commented on #38
Not before next week, sorry!

[2020-09-25 15:17] sckott commented on #38
Okay, thanks

[2020-09-25 15:25] aaronwolen commented on #38
Hey @sckott, I did check it out but failed to report back. Apologies! It's definitely a nice feature and everything appeared to work as advertised.

I also really like the implementation of the `including()`/`excluding()` wrappers.

One minor usability suggestion: what do you think about giving them a list-like interface so users aren't required to wrap multiple key/vals in `list()`.

Something li

[2020-09-25 15:41] sckott commented on #38
Thanks @aaronwolen !

Good idea. Right now `query` is expected to be a named list https://docs.ropensci.org/webmockr/reference/wi_th.html#details

So if we allowed e.g., `wi_th(req, query = including(foo = "bar"))` would that confuse people if the standard use is `wi_th(req, query = list(foo = "bar"))` ? That is if you normally use `list()`, then with including/excluding they might try `wi_th(req,

[2020-09-25 16:16] aaronwolen commented on #38
Oh that's a  fair point. I suppose you could add an additional assertion to `check_params()` like

[code]

to look for nested lists. Either way, it was just a minor thing, feel free to ignore!

[2020-09-25 18:47] #106 closed

[2020-09-25 18:47] #107 closed

[2020-09-25 18:48] sckott commented on #107
@dgkf reinstall and let me know what you think

[2020-09-25 18:54] sckott commented on #99
tested vcr again with webmockr current on github -  the same problem still persists.

added `webmockr::webmockr_reset()` to that file - closing for now

[2020-09-25 18:54] #99 closed

[2020-09-25 19:07] #79 closed

[2020-09-25 20:45] sckott commented on #38
The other thing about this is what if a user needs to pass an already created list. e.g.,

[code]

[2020-09-25 20:46] sckott commented on #38
Pushing this off until the next milestone. Will give us more time to make sure this is thought through well; supporting partial matching on bodies is going to be complicated, so will be good to have more time

[2020-09-25 21:30] sckott commented on #103
[code]

gives

[code]

[2020-09-26 22:56] dgkf commented on #107
Looks good, thanks for making the fix! If I encounter any other unexpected behaviors I'll kick off a new issue.

[2020-09-30 01:05] #103 closed

[2020-10-13 17:51] sckott opened #108 "bug, possibly related to simple auth"
via @mpadge in slack

mark, what repo is this? what test is throwing the error

[2020-10-14 08:24] mpadge commented on #108
The test which triggers it is in [`mpadge/allcontributor`](https://github.com/mpadge/allcontributor/blob/master/tests/testthat/test-get-contribs.R), with the failing workflow [here](https://github.com/mpadge/allcontributor/runs/1247105338?check_suite_focus=true). Note that I'm mocking `httr` body and headers elements, but not options. Maybe [this line in `adapter_httr`](https://github.com/ropensci

[2020-10-16 11:28] maelle commented on #94
Two further comments

* Instead of enabling/disabling I'd find it easier to have context so I'd write

[code]

* And I would still like a mixed behavior with some HTTP request allowed, although I realize it might be impossible. For any request within `with_webmockr`, if no stubs of the stub registry matches, do a real request instead. And maybe even save the real request to a vcr cassette. This wa

[2020-10-16 16:01] sckott commented on #94
You can already allow some http requests, see https://docs.ropensci.org/webmockr/reference/webmockr_configure.html

unfortunately, that's exactly opposite of the way the package works. when enabled, no http requests are allowed (other than ones you allow, see comment above). i imagine one could create a little wrapper that catches webmockr errors, and then disables webmockr if no stub is found

`w

[2020-10-16 20:02] sckott commented on #108
thanks @mpadge will be hard to address this if I can't replicate it. Can you replicate the problem locally or only on CI?  I asked in slack if you can share what secrets are in the repo, may help diagnosing.

I don't think that's the issue. The function under test `get_contributors` appears to set simple auth if a token is found, so i'm guessing this line https://github.com/mpadge/allcontributor/b

[2020-10-19 09:37] mpadge commented on #108
This is going to frustrate you as much as me here, but ... I can't reproduce it. I've tried every conceivable option of explicitly malforming all relevant variables, but the errors all get caught before triggering the one on the github actions build. I've got a new [test file](https://github.com/mpadge/allcontributor/blob/master/tests/testthat/test-aa.R) which confirms that all expected envvars ar

[2020-10-19 12:36] mpadge commented on #108
okay, i got to the bottom of it, and it's all kinda my fault. My attempts at grabbing tokens were getting mucked up by github's own [default envvars](https://docs.github.com/en/free-pro-team@latest/actions/reference/environment-variables#default-environment-variables), so that a URL was returned instead of a token. This issue can either just be closed, or maybe if you want to provide a little more

[2020-10-20 13:29] maelle commented on #94
Should I open a separate issue?

but neither webmockr nor vcr would contain this wrapper, right?

[2020-10-20 16:51] sckott commented on #94
yes, a separate issue would be good.

It's already complicated, I don't want to add more complexity. I guess it seems confusing in that a thing called with_webmockr would make a real request if no stub is found (which webmockr normally would not allow), and then optionally save the request/response to disk (which vcr should be doing).  I like the clear distinction between webmockr that does not ca

[2020-10-31 00:55] sckott commented on #108
Ugh, sorry for delay on this Mark. vacation and then fell to bottom of emails. thanks for persisting.

I do want to help others avoid this issue in the future for sure. I'll look into that

[2020-11-02 21:26] sckott commented on #108
Hmm, was going to add some other logic besides detecting URLs in the userpwd, but it appears the RFC only states that user names can't contain colons, but there's no way to know that on the webmockr side because webmockr recieves the userpwd already concatenated into a single colon sep string - so there's no way to know in the case of multiple colons if the 1st colon is the separator (in which cas

[2020-11-02 22:19] sckott commented on #108
@mpadge made a fix, if you could test that'd be great, but if you already have a different fix you're happy with no worries

[2020-11-03 08:47] mpadge commented on #108
Thanks @sckott, i already implemented a fix myself, but it's very similar to your new [`check_user_pwd() function](https://github.com/ropensci/webmockr/commit/03ce53f0302390e971f11cccbf878d51d14f042f#diff-1aff2e93c261377578034e1bf31ae447b751883b68538ee82f01a3cf39ae308bR65-R71), so I'm sure everything will be fine now. Pretty sure you can close this now.

[2020-11-03 16:16] sckott commented on #108
thanks mark

[2020-11-03 16:16] #108 closed

[2020-11-16 08:55] maelle commented on #38
Would you use partial matching in tests and if so for what use case?

[2020-11-16 08:59] maelle commented on #94
So, my thinking now is that it's just easier to use vcr cassettes for all the things and then edit a few by hand if needed. I'll open an issue with vcr. :-)

[2020-11-16 08:59] #94 closed

[2020-11-16 09:01] maelle commented on #4
In the README and/or a vignette it'd be nice to write, reg tests, _when_ you need to use webmockr. Often you can just use vcr, if needed edit cassettes?

[2020-11-16 16:54] sckott commented on #38
well partial would only work directly with webmockr, not via vcr - an example would be: if you think you may change some aspect of the request in the test and don't want to re-write the stub

[2020-12-01 17:17] sckott opened #109 "RequestSignature: handle additional bits from httr requests"
to address https://github.com/ropensci/vcr/issues/132

we need to make sure to take in all parts of an httr request object needed to re-create the object in vcr

Parts needed that RequestSignature doesn't have yet:

- fields
- output

probably also auth_token, but AFAICT that's for OAuth, and leaving out for now

[2020-12-01 23:17] #109 closed

[2021-01-29 17:59] sckott opened #110 "use url from response object, not from request"
via https://github.com/ropensci/vcr/issues/220

will make redirects work - that is, matching what httr does - if a redirect, the url returned is from the eventual endpoint of the redirect

[2021-02-25 16:54] sckott opened #111 "In Adapter class, check for record_separate_redirects from vcr and modify request"
related to #110 and via https://github.com/ropensci/vcr/issues/220

[2021-03-02 21:52] #110 closed

[2021-03-03 00:15] sckott opened #112 "add quiet param to enable/disable"
via https://github.com/ropensci/vcr/issues/226

[2021-03-03 00:20] #112 closed

[2021-03-12 18:50] #100 closed

[2021-03-12 20:24] sckott opened #113 "Sometimes URL missing in response object"
because of #110 sometimes a URL is not present in the response object, e.g,

[code]

[code]

The error is from `print()` in `HttpResponse` class from `crul`

[2021-03-12 21:43] #113 closed

[2021-09-01 22:35] kenahoo opened #114 "Can't get a mock to match"
Hi, I'm trying to use `webmockr` with `httr` and hitting some difficulty.  Here's what I've got:

[code]

<sup>Created on 2021-09-01 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

This is the first time I've used `webmockr`, so please let me know if I've done something wrong.  Thanks!

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2021-09-03 16:45] sckott commented on #114
Thanks for your question @kenahoo

This should work for you:

[code]

So specifying the query parameters using `wi_th`

You can try `uri_regex` https://docs.ropensci.org/webmockr/reference/stub_request.html as well

[2021-09-03 17:02] kenahoo commented on #114
Thanks @sckott , unfortunately I'm trying to match all such queries regardless of their query params, so the first suggestion wouldn't be great.

Also, the docs for `stub_request` explicitly do say the following, so it seems like a bug:

For the second suggestion, it seems to have the same problem:

[code]

<sup>Created on 2021-09-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</

[2021-09-10 20:14] sckott commented on #114
Thanks. I'll look into this and see what's going on

[2021-09-21 22:02] kenahoo commented on #114
Hi @sckott, any thoughts?  So far I've been working around this using the `mockery` package to mock the function calls where I fetch data, but it doesn't let me specify the URLs (function arguments) that I want to mock out, so it's not a great workaround.

[2021-10-05 21:21] sckott commented on #114
Sorry about the delay. I've moved on to another job so it's hard to find time to work on R packages.

I'll see if I can get to this asap. If you have a chance to dig in to the code that might be a faster route

[2021-11-16 16:12] #114 closed

[2021-12-09 19:16] kenahoo commented on #114
Hi @sckott, I finally had a chance to confirm that the fix you made does indeed fix the behavior for me.  Thanks!  Any sense for when `v0.9` will be released?

[2021-12-09 19:48] sckott commented on #114
Looks like no other issues are likely to get sorted out soon, so i'll try to get this submitted in the next few days or week

[2021-12-09 23:45] kenahoo opened #115 "Match subsequent calls to same URL"
I'm struggling to mock two calls to the same URL, with two different query strings, which need to return two different responses.

My first attempt was to stub them like so:

[code]

which I thought would work because of this text in the `to_return()` docs:

However, two subsequent calls both are returning the `x1` response.

I also tried like so:

[code]

but that seems to give the same problem.

[2021-12-28 00:31] sckott commented on #115
Sorry for the slow response. I remember looking at it, but then forgot to reply. Having a look

[2022-01-21 22:24] kenahoo commented on #115
Thanks @sckott .  No need to apologize, I know attention is a precious resource.  Looking forward to whatever you find out.

[2022-02-22 15:35] sckott commented on #115
ugh, sorry about the delay - 👶🏽 and new job - trying to look at this again

[2022-02-23 00:17] kenahoo commented on #115
Congratulations!!  Thanks for checking in.

[2022-07-20 07:48] maelle opened #116 "Fix pkgdown configuration for reference"
Some topics are missing from the configuration file.

[code]

Note that for topics you do not want to include in the index you can create an "internal" section https://pkgdown.r-lib.org/reference/build_reference.html?q=internal#missing-topics

To check all topics are listed, after editing the configuration file you can run `pkgdown::check_pkgdown()`.

[2022-07-22 16:22] sckott commented on #116
thanks @maelle !

[2022-08-23 13:26] maelle commented on #116
@sckott friendly reminder to fix the reference index config :smile_cat:

[2022-08-24 18:31] sckott commented on #116
thanks, okay pushed

[2022-08-25 05:56] maelle commented on #116
thank you!!

[2022-08-25 05:56] #116 closed

[2022-08-30 13:47] maelle opened #117 "to_return() doesn't accept integer for status"
the docs say it could be an integer, but the assertion is that it is a numeric.

[code]

<sup>Created on 2022-08-30 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-08-30 15:50] sckott commented on #117
oopsy. will fix that